.user {
  display: flex;
  flex-direction: row;
  background-color: #f2fff2;
  justify-content: center;
  height: 92vh;
}

.user .greenbox {
  width: 500px;
  height: 600px;
  border-radius: 40px;
  background-color: #c4f5c3;
  margin-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user .flex {
  display: flex;
  flex-direction: column;
}

.user .icon {
  margin-top: 50px;
}

.user .image {
  width: 250px;
  height: 250px;
}

.user .name {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: 64px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.user .city {
  font-family: "SF-Pro-Display-Regular";
  color: black;
  font-size: 32px;
  padding-top: 30px;
  text-align: center;
}

.user .score {
  font-family: "SF-Pro-Display-Regular";
  color: black;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.user .buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user .button {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #b4e8c9;
  width: 200px;
  height: 70px;
  border-radius: 15px;

  text-align: center;
  padding-top: 20px
}
