@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("./assets/fonts/SF-Pro-Display-Regular.ttf");
}

@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("./assets/fonts/SF-Pro-Display-Semibold.ttf");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("./assets/fonts/SF-Pro-Display-Bold.ttf");
}

* {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

:root {

  --shadowgray: rgb(209, 209, 209);
}

@import "./css/navbar.css";
@import "./css/campaignIndividual.css";
@import "./css/campaign.css";
@import "./css/detailBox.css";
@import "./css/thankyou.css";
@import "./css/leaderboardIndividual.css";
@import "./css/leaderboard.css";

